<!------ Include the above in your HEAD tag ---------->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<script>
  let turls = [];
  const data = [];
  let is_mobile;
  (window.screen.width < 800) ? is_mobile = true : is_mobile = false;

  window.addEventListener('DOMContentLoaded', (event) => {
      if (is_mobile) {
        const home_icon = document.getElementById("home");
        home_icon.style.height = "5vw";
      }
  });
</script>

<link rel="stylesheet" href="css/guest.css" >

<div style="width:100%; margin-top:15px">

    <!-- Page Content -->
  <div class="container page-top">

    <div style="text-align:center">
      <a href="/index.html">
          <img id="home" style="width:auto; height:5vh; margin-bottom:30px" src="images/zodiac_icon.png"/>
      </a>
    </div>

    <center>
      <h1 class="guest-title" style="margin-bottom:5vh;">Choose Your Horoscope.</h1>
    </center>
        <div class="row">

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(0)" data-toggle="modal" href="#horoscope" rel="ligthbox">
                  <b>Aquarius</b><br/>
                  Jan 20 - Feb 18
                  <img src="images/icons/aquarius.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
               <a onclick="query(1)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Pisces</b><br>
                  Feb 19 - Mar 20
                  <img src="images/icons/pisces.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(2)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                <b>Aries</b><br/>
                Mar 21 - Apr 20
                <img src="images/icons/aries.png" class="zoom img-fluid"/>
              </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(3)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                <b>Taurus</b><br>
                Apr 21 - May 20
                <img src="images/icons/taurus.png" class="zoom img-fluid"/>
              </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
                <a onclick="query(4)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Gemini</b><br>
                  May 21 - Jun 21
                  <img src="images/icons/gemini.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(5)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Cancer</b><br>
                  Jun 22 - Jul 22
                  <img src="images/icons/cancer.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
               <a onclick="query(6)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Leo</b><br>
                  Jul 23 - Aug 22
                  <img src="images/icons/leo.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(7)" data-toggle="modal" href="#horoscope" class="fancybox" rel="ligthbox">
                <b>Virgo</b><br>
                Aug 23 - Sep 22
                <img src="images/icons/virgo.png" class="zoom img-fluid"/>
              </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
               <a onclick="query(8)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Libra</b><br>
                  Sep 23 - Oct 22
                  <img src="images/icons/libra.png" class="zoom img-fluid"/>
                </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(9)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                <b>Scorpio</b><br>
                Oct 23 - Nov 22
                <img src="images/icons/scorpio.png" class="zoom img-fluid"/>
              </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(10)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                <b>Sagittarius</b><br>
                Nov 23 - Dec 21
                <img src="images/icons/sagittarius.png" class="zoom img-fluid"/>
              </a>
            </div>

            <div style="text-align:center" class="col-lg-2 col-md-4 col-xs-6 thumb">
              <a onclick="query(11)" data-toggle="modal" href="#horoscope" class="" rel="ligthbox">
                  <b>Capricorn</b><br>
                  Dec 22 - Jan 19
                  <img src="images/icons/capricorn.png" class="zoom img-fluid"/>
                </a>
            </div>


          </div>

          <div id="loader" class="loader text-center">
              <span class="span"></span>
          </div>

	<div class="row">


	<div id="horoscope" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <center>
                      <h3 id="title" class="modal-title"></h3>
                    </center>
                </div>
                <center>

                  <div id="body" class="modal-body" style="align-items:middle !important">
                    <h6 id="date" class="modal-title"></h6>
                  </div>
                </center>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Save</button>
                    </div>
                        <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->

	</div>
</div>
</div>

<script>
// const URL = 'https://aztro.sameerkumar.website/?sign=aries&day=today';
function preload() {
  const prefix = 'https://aztro.sameerkumar.website/?sign=';
  const postfix = '&day=today'
  const charset = ["aquarius", "pisces", "aries", "taurus", "gemini", "cancer",
  "leo", "virgo", "libra", "scorpio", "sagittarius", "capricorn"];
  for (let j = 0; j<12; j++) {
    turls[j] = prefix+charset[j]+postfix;
    fetch(turls[j], {
        method: 'POST'
    })
    .then(response => response.json())
    .then(json => {
      data.push([charset[j],json]);
      if (j === 11) {
        const loader = document.getElementById("loader");
        loader.style.display = "none";
      }
    });
  }
}

preload();

function query(i) {
  const charset = ["aquarius", "pisces", "aries", "taurus", "gemini", "cancer",
  "leo", "virgo", "libra", "scorpio", "sagittarius", "capricorn"];
  const titleset = ["Aquarius", "Pisces", "Aries", "Taurus", "Gemini", "Cancer",
  "Leo", "Virgo", "Libra", "Scorpio", "Sagittarius", "Capricorn"];
  let json;
  for (let k = 0; k < 12; k++) {
    if(charset[i] === data[k][0])
      json = data[k][1];
  }
  const date = json.current_date;
  let title = document.getElementById("title");
  title.innerHTML = titleset[i];
  let top = document.getElementById("date");
  let body = document.createTextNode(date);
  top.appendChild(body);
  let character = document.getElementById("body");
  let para;
  let range;
  let img = document.createElement("img");
  img.src = "images/icons/"+charset[i]+"_black.png"
  if (!is_mobile) {
    para = document.createElement("p");
    img.style.height = "100px";
    img.style.width = "100px";
    range = document.createElement("p");
  }
  else {
    para = document.createElement("h3")
    img.style.height = "30vw";
    img.style.width = "30vw";
    range = document.createElement("h3");
  }
  img.style.marginBottom = "15px"
  img.id = "icon_image"
  para.id = "description"
  let text = document.createTextNode(json.description);


  range.id = "date_range"
  range.innerHTML = json.date_range;
  para.appendChild(text);
  character.appendChild(range);
  character.appendChild(img);
  character.appendChild(para);
}

$('#horoscope').on('hidden.bs.modal', function (e) {
  let list = document.getElementById("body");   // Get the <ul> element with id="myList"
  const length = list.childNodes.length;
  for (let i = list.childNodes.length-1 ; i > 1; i--)
    list.removeChild(list.childNodes[i]);
  list.childNodes[1].innerHTML = "&nbsp";
})


</script>


    </div>
