<!DOCTYPE html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="css/icon.png">

    <title>Daily Horoscope for You</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/main.css" >

  </head>

  <script>
    let is_mobile;
    (window.screen.width < 800) ? is_mobile = true : is_mobile = false;

    const params = new URL(location.href).searchParams;
    const id = params.get('id');
    const sign = params.get('sign');

  </script>

  <body class="text-center">

    <div class="container page-top">

      <div style="text-align:center">
        <img id="home" style="width:auto; height:5vh; margin:30px" src="images/zodiac_icon.png"/>
      </div>
      <div class="container" style="align-items:center">
        <div class="row">
            <div class="col" style="text-align:center">
                <a style="margin-bottom:30px; font-size:2rem; font-weight:bold; text-transform:capitalize" id="header_user"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 field-label-responsive">
            </div>
            <div class="col" style="text-align:center; padding:15px">
              <a id="date" style="font-size:1.2rem;"></a>
              <hr style="width:100%; border:1.5px solid #ffffff"></hr>
              <a id="icon_title" style="font-size:1.3rem; font-weight:bold; text-transform: capitalize"></a>
              <div class="row">
                <div class="col" style="height:100%;">
                  <img id="icon" style="width:10vw;height:10vw; margin-bottom:15px; margin-top:15px; "></img>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p id = "description" style="font-size:1.2rem; text-align:left"></p>
                </div>
              </div>
              <div class = "row">
                <div class="col">
                  <div class="row-4" style="padding-top:20px">
                    <a id="num_title" style="font-size:1.2rem; font-weight:bold"></a>
                  </div>
                  <div class="row-8">
                    <a id="luckynum" style="font-size:1.2rem;"></a>
                  </div>
                </div>
                <div class="col">
                  <div class="row-4" style="padding-top:20px">
                    <a id="comp_title" style="font-size:1.2rem; font-weight:bold"></a>
                  </div>
                  <div class="row-8">
                    <img id="comp_icon" style="width:50%;height:50%;"></img>
                  </div>
                </div>
                <div class="col">
                  <div class="row-4" style="padding-top:20px">
                    <a id="mood_title" style="font-size:1.2rem; font-weight:bold"></a>
                  </div>
                  <div class="row-8">
                    <a id="mood" style="font-size:1.2rem;"></a>
                  </div>
                </div>
              </div>
              <hr style="width:100%; border:1.5px solid #ffffff"></hr>
            </div>
            <div class="col-md-2 field-label-responsive">
            </div>
        </div>

        <div id="btn_out" class="mastfoot mt-auto" style="margin-bottom:3%">
          <a href="/index.html" class="btn btn-secondary" style="margin-top:20px;">Sign Out</a>
        </div>

        <div id="loader" class="loader text-center">
            <span class="span"></span>
        </div>

    </div>


    <script>
    let data;
    function preload() {
      const prefix = 'https://aztro.sameerkumar.website/?sign=';
      const postfix = '&day=today'
      const turls = prefix+sign+postfix;
        fetch(turls, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(json => {
          // console.log(json);
          data = json;
          const loader = document.getElementById("loader");
          loader.style.display = "none";

          const icon_title = document.getElementById("icon_title");
          const icon = document.getElementById("icon");
          const description = document.getElementById('description');
          const luckynum = document.getElementById('luckynum');
          const comp_icon = document.getElementById('comp_icon');
          const mood = document.getElementById('mood');
          const date = document.getElementById('date');
          const header = document.getElementById('header_user');

          icon_title.innerHTML = sign;
          header.innerHTML = id + "'s Daily Horoscope"
          date.innerHTML = data.current_date;
          icon.src = "images/icons/"+sign+".png";
          description.innerHTML = data.description;
          comp_icon.src = "images/icons/"+data.compatibility.toLowerCase()+".png";
          mood.innerHTML = data.mood;
          luckynum.innerHTML = data.lucky_number;

          const num_title = document.getElementById("num_title");
          const comp_title = document.getElementById("comp_title");
          const mood_title = document.getElementById("mood_title");
          comp_title.innerHTML="Compatibility";
          mood_title.innerHTML="Mood"
          if (is_mobile) {
            const btn_out = document.getElementById("btn_out");
            btn_out.style.marginBottom="5vh"
            num_title.innerHTML="Number"
            icon.style.width="10vh";
            icon.style.height="10vh";
          }
          else {
            num_title.innerHTML="Lucky Number"
            icon.style.width="10vw";
            icon.style.height="10vw";
          }

        });
    }

    preload();

    </script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- <script type="text/javascript" src="main.js"></script> -->



</body></html>
