<html>
  <head>
    <html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="css/icon.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Daily Horoscope for You</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/signin.css" >

  </head>
  <script>
    let is_mobile;
    (window.screen.width < 800) ? is_mobile = true : is_mobile = false;
    window.addEventListener('DOMContentLoaded', (event) => {
        if (is_mobile) {
          const home_icon = document.getElementById("home");
          home_icon.style.height = "5vw";
        }
    });

    if (window.location.search.includes("fail")) {
      window.alert("The account information is wrong. Please try again");
      window.location.href="http://aria.sparcs.org:11080/signin.html"
    }
    else if (window.location.search.includes("error")) {
      window.alert("Error has occurred. Please try again.");
      window.location.href="http://aria.sparcs.org:11080/signin.html"
    }
    else if (window.location.search.includes("none")) {
      window.alert("The account does not exist. Please check again.");
      window.location.href="http://aria.sparcs.org:11080/signin.html"
    }

  </script>
  <body>

      <div class="wrapper fadeInDown">
        <div style="text-align:center">
          <a href="/index.html">
              <img id="home" style="width:auto; height:5vh; margin:30px" src="images/zodiac_icon.png"/>
          </a>
        </div>
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <!-- <img src="/images/icon.png" style="width:10%;" id="icon" alt="User Icon" /> daily horoscope -->
            <a>Sign In</a>
          </div>

          <!-- Login Form -->
          <form style="width:100%" method="POST" action="http://aria.sparcs.org:11808/api/authenticate">
            <input type="text" id="login" class="fadeIn second" name="id" placeholder="ID">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" onclick="retreive()">Forgot Password?</a>
          </div>

        </div>
      </div>
      <!-- <div class="foot-wrapper">
        <div class="row-3">
          <button onclick="retreive()" id="btn-retreive" class='btn' style="height:40px">Forgot ID/Password?</button>
          <div id="retreive" style="display:none">
            <strong>Too bad</strong>
          </div>
          <div class="row-3" style="margin-top:5%;">
            <a href="/index.html" class="btn btn-secondary" style="width:100%"> Back to Main </a>
          </div>
        </div>
      </div> -->

        <script>
          errormsg();
          function errormsg(){
            const url = window.location.href;
            if(url.substring(url.length-5, url.length) === "error"){
              window.alert("Sign In Failed. Please check ID and Password.");
            }
          }
          function retreive(){
            window.alert("Sorry. This function has not been developed yet.")
            // let button = document.getElementById("btn-retreive");
            // let message = document.getElementById("retreive");
            // message.style.display = "flex";
            // button.style.display = "none";
          }
        </script>



    <!-- </div> -->

  </body>
</html>
