/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #f1f1f1;
  background-image:url("orion.jpg");
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow:  0 0 5rem rgba(0, 0, 0, .5); */
}

.icon-wrapper {
  align-items:center;
}

body {
  font-family: "Asap", sans-serif;
  color:#989898;
  margin:10px;
  font-size:16px;
}

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }

        .page-top{
            margin-top:85px;
        }


img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit: contain;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {

     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;
    }

.guest-title {
  font-weight: bold;
  color: #ffffff
}

.modal .modal-header {
  border-bottom: none;
  position: relative;
}

.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal .modal-footer {
  border-top: none;
  padding: 0;
}

.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}

.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}

.fadeIn {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  transition: 1s;
  background-color: #707070;
  opacity: 0.9;
}
.span{
  position: absolute;
  transform: translate(-50%, 50%);
  width: 120px;
  height: 120px;
  top: 35%;
  border: 5px solid #262626;
  z-index: 1;
  animation: animar 2.5s linear infinite;
}
.span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  animation: animarbg 2.5s linear infinite;
}

@keyframes animar {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    50% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}
@keyframes animarbg {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
