/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
   height: 100%;
   background-color: #f1f1f1;
   background-image:url("orion.jpg");
 }

 body {
   display: -ms-flexbox;
   display: flex;
   color: #fff;
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   /* box-shadow:  0 0 5rem rgba(0, 0, 0, .5); */
 }

 .icon-wrapper {
   align-items:center;
 }

 body {
   font-family: "Asap", sans-serif;
   color:#ffffff;
   margin:10px;
   font-size:16px;
 }

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.content-wrapper{
  height:150vh;
  width:100%;

  display: grid;
  grid-template-rows: 30px 15% 35% 8% 45% 60px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "navbar navbar navbar"
                       "topp topp topp"
                       "mid mid mid"
                       "mid_btn mid_btn mid_btn"
                       "bot bot bot"
                       "footer footer footer";
}

.navbar{
  grid-area: navbar;
  display: flex;
  justify-content: center;
}
.top-wrapper{
  grid-area:topp;
  display: flex;
  justify-content: center;
}

.mid-wrapper{
  grid-area:mid;
  display:flex;
  justify-content: center;
}

.mid_btn-wrapper{
  grid-area:mid_btn;
  display:flex;
  justify-content: center;
}

.bot-wrapper{
  grid-area:bot;
  display:flex;
  justify-content: center;
}

.footer-wrapper{
  grid-area:footer;
  display:flex;
  justify-content: center;
}

.wrapper{width:100%;margin-bottom:20px;}
.box{float:left;}
.box:nth-child(1){
   width:25%;
}
.box:nth-child(2){
  width:25%;
}
.box:nth-child(3){
   width:25%;
}
.box:nth-child(4){
  width:25%;
}

.form_content{
  height:40px;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  transition: 1s;
  background-color: #707070;
  opacity: 0.9;
}
.span{
  position: absolute;
  transform: translate(-50%, 50%);
  width: 120px;
  height: 120px;
  top: 35%;
  border: 5px solid #262626;
  z-index: 1;
  animation: animar 2.5s linear infinite;
}
.span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  animation: animarbg 2.5s linear infinite;
}

@keyframes animar {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    50% {
        transform: translate(-50%, 50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(360deg);
    }
}
@keyframes animarbg {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

.hr-white {
  border-top: 2px solid #ffffff;
}
